<div class="resume-panel bg-light">
    <div class="row p-3">
        <div class="col-auto">
            <img class="profile" src="../../assets/images/placeholder.jpg">
        </div>
        <div class="col-auto offset-md-1">
            <h1 class="display-5">Hi, I'm <span class="red-name">Daniel Bassani</span></h1>
            <hr>
            <blockquote class="blockquote"><p>This is some introductory text.</p></blockquote>
        </div>
    </div>
    <div class="row p-3">

    </div>
</div>
