<div class="row p-3">
    <hr>
    <div id="work-experience" class="col-auto">
        <h1 class="category-title">Work Experience</h1>
        <h4 id="intern" class="sub-category-title">Full-stack Cloud Developer, Celestica (Summer 2021 - Present)</h4>
        <ul>
            <li>Assisted with the development, maintenance, testing and configuration of multiple RESTful web
                applications
                through the use of Google Cloud/Google App Engine along with frameworks such as Angular, AngularJS, SpringBoot,
                Cypress, Jenkins, Terraform, and NodeJS</li>
            <li>Debugged complex issues and problem-solved them to further enhance the user experience</li>
            <li>Developed frontend and backend enhancements for many applications in a time-efficient manner while
                following
                industry standard coding practices</li>
            <li>Participated in code review and security vulnerability meetings to ensure the quality of software and
                changes</li>
            <li>Worked collaboratively alongside full-time developers, learning the responsibilities and knowledge
                required
                by senior and junior developers</li>
        </ul>
        <hr>
        <h4 id="ta-architecture" class="sub-category-title">Teaching Assistant – Computer Architecture, Queen’s University
            (Winter
            2021)</h4>
        <ul>
            <li>Assisted professor with teaching and responding to student questions, and clarified lecture material in
                regards to Computing Architecture</li>
            <li>Marked computer architecture-based assignments, tests, and quizzes in an efficient and timely manner
            </li>
            <li>Held office hours and tutorial sessions to review and assist with lecture material or assignments</li>
        </ul>
        <hr>
        <h4 id="ta-logic" class="sub-category-title">Teaching Assistant – Logic for Computing, Queen’s University (Fall 2021)
        </h4>
        <ul>
            <li>Assisted professor with teaching and responding to student questions, and clarified lecture material in
                regards to Computing Logic</li>
            <li>Marked computing logic-based assignments, tests, and quizzes in an efficient and timely manner</li>
            <li>Utilized Github and git commands along with a Linux terminal and python code for automatic grading and
                assignment completion</li>
        </ul>
        <hr>
        <h4 class="sub-category-title">Camp Supervisor, City of Richmond Hill (Summer 2019)</h4>
        <ul>
            <li>Organized daily programming to ensure an entertaining and successful camp program</li>
            <li>Demonstrated patience and problem-solving skills with children to deal with problematic behaviours and
                difficult situations, provided solutions and helped the children succeed at camp</li>
            <li>Provided a positive and encouraging team environment for camp counsellors by giving positive feedback,
                encouraged their successes and helped with any situations that arose</li>
            <li>Communicated and responded to parent complaints, inquiries and concerns, provided possible solutions
                resulting in the general satisfaction of parents and the public</li>
        </ul>
        <hr>
        <h4 class="sub-category-title">Camp Counsellor, City of Richmond Hill (Summer 2015 - 2018)</h4>
        <ul>
            <li>Supervised and ensured the safety and well-being up to 10 children at one time, which helped to develop
                great responsibility and decision-making skills</li>
            <li>Fulfilled role by leading camp games, activities and crafts with co-counsellors, which resulted in the
                development of strong leadership and collaboration skills</li>
            <li>Scored “Outstanding” on 21/26 performance targets on Summer evaluation,which resulted in the
                recommendation
                to be promoted to Before and After Care Supervisor</li>
            <li>Assumed the role of Before and After Camp Supervisor in 2018</li>
        </ul>
    </div>
</div>