<div class="row p-3">
    <div id="projects" class="col-auto">
        <h1 class="category-title">Projects</h1>
        <h4 id="space-blasters" class="sub-category-title">Space Blasters - Android App</h4>
        <ul>
            <li>Successfully planned, developed,  published and advertised a 2D space shooter game to the Google Play Store over a 2 month period, with over 250 downloads</li>
            <li>Used Unity to build the 2D game where the player had to survive and shoot through waves of incoming space ships, unlocking harder levels as they progress and introducing boss fights</li>
            <li>Fully developed and coded as a solo project, used free external artwork for graphics and free external audio clips for sound effects</li>
        </ul>
        <hr>
        <h4 id="space-blasters" class="sub-category-title">Presidential Escape - PC Game Project</h4>
        <ul>
            <li>Completed development of a PC game for a second year game design course</li>
            <li>Worked collaboratively in a team of 3 with semi-daily meetings over a 2 month period</li>
            <li>Used Unity to build a 3D environment where the player had to complete challenges to escape, all while being chased by an endless horde of people</li>
            <li>End result was a fully functional game with minimal errors, earning an A</li>
        </ul>
        <hr>
        <h4 id="todo-app" class="sub-category-title">Todo App - Angular Project</h4>
        <ul> 
            <li> Developed a solo project “todo app” using HTML, Angular, Bootstrap, jQuery and Github </li>
            <li> Packaged and deployed the website using the Firebase Hosting service making it publicly accessible</li>
            <li> End result was a visually appealing, fully functional website accessible to everyone with abilities to add and check
                off items, data saving, issue reporting, and more </li>
            <li> <a href="https://todo-danielbassani.firebaseapp.com" target="_blank">Try the website for yourself!</a></li>
        </ul>
    </div>
    <div class="center">
        <!--
        <div id="project-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="2" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/images/test4.png" class="d-block w-100" alt="Space Invaders">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/test2.png" class="d-block w-100" alt="Presidental Escape">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/test3.png" class="d-block w-100" alt="Presidential Escape">
              </div>project-carouse
              <div class="carousel-item">
                <img src="../../../assets/images/test5.png" class="d-block w-100" alt="Presidential Escape">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#project-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#project-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        -->

        <div id="project-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#project-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="../../../assets/images/space-invaders.png" class="d-block w-100" alt="Space Invaders">
                <div class="carousel-caption d-none d-md-block">
                  <!-- add p tag here-->
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/images/todos.png" class="d-block w-100" alt="Todo List">
                <div class="carousel-caption d-none d-md-block">
                  <!-- add p tag here-->
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/images/presidential-escape-city.png" class="d-block w-100" alt="Presidental Escape">
                <div class="carousel-caption d-none d-md-block">
                  <!-- add p tag here-->
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/presidential-escape-road.png" class="d-block w-100" alt="Presidential Escape">
                <div class="carousel-caption d-none d-md-block">
                  <!-- add p tag here-->
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/presidential-escape-forest.png" class="d-block w-100" alt="Presidential Escape">
                <div class="carousel-caption d-none d-md-block">
                  <!-- add p tag here-->
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#project-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#project-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    

    <!--
    <div class="col-4">
        <img src="../../../assets/images/space-blasters.PNG" alt="Space Blasters">
        <hr>
        <img src="../../../assets/images/presidential-escape.PNG" alt="Presidential Escape">
        <img src="../../../assets/images/presidential-escape-2.PNG" alt="Presidential Escape">
    </div>
-->
</div>
