.carousel-item {
    background-color: rgba(181, 178, 178, 0.45);
}

.center {
    width: 50%;
    margin: 0 auto;
}

@media(max-width:480px) {
    .center {
        width: 85%;
        margin: 0 auto;
    }
}