
html {
    scroll-behavior: smooth;
}

.picture {
    background-image: url('../assets/images/code.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



/*
div {
    border: 1px solid blue;
}
*/
