<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row bg-dark">
        <div class="col-3">
          <div class="d-flex flex-column">
            <app-sidebar></app-sidebar>
          </div>
        </div>
        <div class="col-9 picture">
          <div class="d-flex flex-column">
            <app-main-panel></app-main-panel>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>