
html {
    scroll-behavior: smooth;
}

.picture {
    background-image: url('../assets/images/code.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

::ng-deep .resume-panel {
    width:75%;
    height:800px;
    margin:auto;
    margin-top: 6%;
    border-radius: 1%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::ng-deep .category-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::ng-deep .sub-category-title {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(136, 4, 4);
}


/*
div {
    border: 1px solid blue;
}
*/
