<div class="row dark-transparent min-vh-100">
    <div class="py-5" style="margin: 0 auto">
        <h2 class="display-6 border name-title">Daniel Bassani</h2>
    </div>
    <div class="sidebar-nav lead" *ngFor="let item of activePanelNav">
        <!-- <a *ngIf="item.label === 'More...'" href="#" class="list-group-item list-group-item-action red-transparent" (click)="toggleSkillsPanel()"> > {{item.label}}</a> -->

        <a *ngIf="item.label === 'More...'" data-bs-toggle="collapse" href="#more-list" class="list-group-item list-group-item-action transparent"> > {{item.label}}</a>
        <div *ngIf="item.label === 'More...'" id="more-list" class="collapse submenu-entries">
            <a href="#" class="list-group-item list-group-item-action" (click)="makeSkillsPanelVisibleAndScroll('projects');"> > Projects</a>
            <a href="#" class="list-group-item list-group-item-action" (click)="makeSkillsPanelVisibleAndScroll('job-skills');"> > Job Skills & Technologies</a>
            <a href="#" class="list-group-item list-group-item-action" (click)="makeSkillsPanelVisibleAndScroll('course-work');"> > Relevant Course Work</a>
        </div>

        <a *ngIf="item.label === 'Work Experience'" data-bs-toggle="collapse" href="#jobs-list" class="list-group-item list-group-item-action transparent"> > {{item.label}}</a>
        
        <div *ngIf="item.label === 'Work Experience'" id="jobs-list" class="collapse submenu-entries">
            <a href="#" class="list-group-item list-group-item-action" (click)="hideSkillsPanelAndScroll('intern');"> > Web Cloud Solutions Intern</a>
            <a href="#" class="list-group-item list-group-item-action" (click)="hideSkillsPanelAndScroll('ta-architecture');"> > Teaching Assistant - Computer Architecture</a>
            <a href="#" class="list-group-item list-group-item-action" (click)="hideSkillsPanelAndScroll('ta-logic');"> > Teaching Assistant - Logic for Computing</a>
        </div>

        <a *ngIf="item.label === 'Introduction'" href="#" class="list-group-item list-group-item-action transparent" (click)="hideSkillsPanelAndScroll('introduction')"> > {{item.label}}</a>
        <a *ngIf="item.label === 'Education'" href="#" class="list-group-item list-group-item-action transparent" (click)="hideSkillsPanelAndScroll('education')"> > {{item.label}}</a>
    </div>
    <hr>
</div>
