.name-title {
    text-align: center;
    color: white;
}

.sidebar-nav > a {
    margin-top: 10px;
    color: white;
    min-height: 75px;
    line-height: 75px;
    font-size: 20px;
}

.sidebar-nav > a:hover {
    background-color: hsl(213, 11%, 17%, 0.9);
    color: rgb(171, 4, 4);
    font-size: 22px;
}

.dark-transparent, .sidebar-nav > a:focus {
    background-color: hsl(210, 11%, 15%, 0.9);
}

.job-entries > a {
    background-color: rgb(136, 4, 4, 0.5);
    color: white;
}

.job-entries > a:hover {
    color: black;
}