

.name-title {
    text-align: center;
    color: white;
}

.sidebar-nav > a {
    margin-top: 10px;
    color: white;
    min-height: 75px;
    line-height: 75px;
    font-size: 20px;
    border:none;
}

.sidebar-nav > a:hover, .sidebar-nav > a:focus {
    background-color: var(--hoverColour);
    color: var(--textRed);
    font-size: 22px;
    border: 1px solid var(--sidebarRed);
}

.red-transparent {
    background-color: var(--sidebarRed);
    font-size: 22px;
}

.dark-transparent {
    background-color: hsl(210, 11%, 15%, 0.9);
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
}

.submenu-entries > a {
    background-color: rgb(136, 4, 4, 0.5);
    color: white;
}

.submenu-entries > a:hover {
    color: black;
}

@media(max-width:480px) {
    .menu {
        width:35px;
        height: 35px;
        background-color: none;
        padding-right: none;
    }

    .dropdown-menu {
        width: 352px;
    }

    .dropdown-item {
        color:white;
        margin: 7%;
    }
}

@media(min-width:481px) and (max-width:1024px) {
    .dropdown-menu {
        width: 500px;
    }

    .dropdown-item {
        color:white;
        font-size: 24px;
        margin: 7%;
    }

    .navbar-brand {
        font-size: 36px;
    }
}