<div class="row p-3">
        <h1 class="display-5">Education</h1>
        <h5>BCmpH, Bachelor of Computing, Software Design (Anticipated May 2023); 4.26 GPA <strong>Queen’s University, Kingston, ON</strong></h5>
        <ul class="p-4">
            <li>Dean’s Honour List with Distinction (Top 3%), Dean’s Special Award </li>
            <li>George Thomas Warren Scholarship for Computing Science</li>
            <li>Robert Bruce Scholarship</li>
            <li>Queen’s University Excellence Scholarship</li>
            <li>EMS Technologies Scholarship</li>
        </ul>
</div>
