<div class="row p-3">
    <hr>
    <div id="education" class="col-8">
        <h1 class="category-title">Education</h1>
        <h4 class="sub-category-title">Bachelor of Computing, Software Design (Anticipated May 2023); 4.25 GPA <strong>Queen’s University, Kingston, ON</strong></h4>
        <ul>
            <li>Dean’s Honour List with Distinction (Top 3%), Dean’s Special Award </li>
            <li>George Thomas Warren Scholarship for Computing Science</li>
            <li>Robert Bruce Scholarship</li>
            <li>Queen’s University Excellence Scholarship</li>
            <li>EMS Technologies Scholarship</li>
        </ul>
    </div>
    <div class="col-4">
        <img class="queens-logo" src="../../../assets/images/queens.png" alt="Queen’s University">
    </div>    
</div>
