.profile {
    height:250px;
    width: 250px;
    border: 5px solid rgb(78, 77, 77);
    border-radius: 50%;

}

.intro-text {
    font-size: 1vw;
}

.display-5 {
    font-size: 3vw;
}

.intro-block {
    max-width: 65%;
    margin-left: 1vw;
}

hr {
    border-top: 2px solid red;
}

.red-name {
    color: red;
}



@media screen and (max-width: 1600px) {
    .profile {
        height:150px;
        width: 150px;
        border: 4px solid rgb(78, 77, 77);
        border-radius: 50%;
    }
}
