.side-margins {
    margin-left: 7%;
    margin-right:7%;
}

.grey-bg {
    background-color: rgba(199, 198, 198, 0.45);
}

.icon {
    width:30px;
    height:30px;
    float:right;
}

@media(max-width:768px){
    th {
        font-size:14px;
    }

    td {
        font-size:14px;
    }

    .icon {
        width:15px;
        height:15px;
        float:right;
    }

    .side-margins {
        margin-left: 0%;
        margin-right:0%;
    }
}