<div class="p-3">
    <hr>
    <div id="job-skills" class="col-auto">
        <h1 class="category-title">Job Skills and Technologies</h1>
        <div class="side-margins">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3 grey-bg">Languages</th>
                        <th class="col-md-3 grey-bg">Frameworks</th>
                        <th class="col-md-3 grey-bg">Developer Tools</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of technicalSkills">
                        <td>{{item[0].title}} <img class="icon" src="../../../assets/images/{{item[0].iconURL}}"></td>
                        <td>{{item[1].title}} <img class="icon" src="../../../assets/images/{{item[1].iconURL}}"></td>
                        <td>{{item[2].title}} <img class="icon" src="../../../assets/images/{{item[2].iconURL}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
